{% extends "base.html" %}

{% block content %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">fwdform</h3>
                    </div>
                </div>
                <div class="inner cover">
                    <i class="fa fa-paper-plane fa-5x"></i>
                    <h1 class="cover-heading">django-fwdform</h1>
                    <p class="lead">
                        Simple and painless form processing for static sites. <br/>
                        The perfect companion to sites powered by <a href="https://github.com/mishbahr/django-staticgen" target="_blank">django-staticgen</a>.
                    </p>
                    <p class="lead">
                        <a href="http://github.com/mishbahr/django-fwdform" target="_blank"
                           class="btn btn-small btn-default">Learn more</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Demo site for <a href="http://github.com/mishbahr/django-fwdform">django-fwdform</a>, by <a href="https://twitter.com/mishbahrazzaque">@mishbahrazzaque</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
